<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('bundles/app/css/pure/pure-min.css') }}">
            <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{ asset('bundles/app/css/pure/app-old-ie.css') }}">
            <![endif]-->
            <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{ asset('bundles/app/css/pure/app.css') }}">
            <!--<![endif]-->
            {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block head %}{% endblock %}
    </head>

    <body>
          <div id="layout" class="content pure-g">
              <div id="nav" class="pure-u">
                  <a href="#" class="nav-menu-button">Menu</a>

                  <div class="nav-inner">
                      <button class="primary-button pure-button">Compose</button>

                      <div class="pure-menu">
                          <ul class="pure-menu-list">
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="app-count">(2)</span></a></li>
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Important</a></li>
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li>
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li>
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li>
                              <li class="pure-menu-heading">Labels</li>
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="app-label-personal"></span>Personal</a></li>
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="app-label-work"></span>Work</a></li>
                              <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="app-label-travel"></span>Travel</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div id="main" class="pure-u-1">
                  <div class="app-content">
                      <div class="app-content-header pure-g">
                          <div class="pure-u-1-2">
                              <h1 class="app-content-title">{% block titre %}{% endblock %}</h1>
                              <p class="app-content-subtitle">
                                  {% block sousTitre %}{% endblock %}
                              </p>
                          </div>

                          <div class="app-content-controls pure-u-1-2">
                              <button class="secondary-button pure-button">Reply</button>
                              <button class="secondary-button pure-button">Forward</button>
                              <button class="secondary-button pure-button">Move to</button>
                          </div>
                      </div>

                      <div class="app-content-body">
                          {% block body %}{% endblock %}
                        
                      </div>

                  </div>
              </div>
          </div>


          <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
          <script src="{{ asset('bundles/app/js/pure/yui-min.js') }}"></script>
          <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
          <script>
              YUI().use('node-base', 'node-event-delegate', function (Y) {

                  var menuButton = Y.one('.nav-menu-button'),
                  nav        = Y.one('#nav');

                  // Setting the active class name expands the menu vertically on small screens.
                  menuButton.on('click', function (e) {
                      nav.toggleClass('active');
                  });

                  // Your application code goes here...

              });
          </script>
             {% block javascripts %}{% endblock %}
</body>

</html>
