{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('index')}}"><img class="logo" src="{{ asset('bundles/app/image/cmw_planning.svg')}}"></a>
            </div>
            <ul class="nav navbar-right top-nav">
            </ul>
        </nav>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
                {% include 'AppBundle:Default:flashes.html.twig' %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer-distributed">

<div class="footer-right">

    <a target="_blank" href="https://fr-fr.facebook.com/pages/CMW-Master-en-alternance/131636493570526"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://twitter.com/master_cmw"><i class="fa fa-twitter"></i></a>
    <a target="_blank" href="https://www.linkedin.com/groups/4308086"><i class="fa fa-linkedin"></i></a>

</div>

<div class="footer-left">

    <p class="footer-links">
        <a target="_blank" href="http://mastercmw.com/">Site de la formation</a>
    </p>

    <p>&copy;Master CMW. Tous droits réservés.</p>
</div>

</footer>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
