{% extends '::base.html.twig' %}

{% block title %}
Edition
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre %}Edition {% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Edition d'une salle
            </h1>
            <!-- <div class="alert alert-info">
            <h3>Saisissez le nom des salles qui seront utilisées tout au long de l'année scolaire.</h3><br>
            <h4>La liste des salles sera proposée lors de la création d'un évenement</h4>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
            <div class="form-inline">
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <div class="form-group">
                <label for="name">
                    Nom :
                </label>
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name, { 'id': 'name',  'attr': { 'class' : 'form-control' } } ) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.save, {'label': 'Mettre à jour', 'attr': { 'class' : 'btn btn-success' } } ) }}
                {{ form_end(edit_form) }}
                <p>&nbsp;</p>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#modal-delete">Supprimer</a>
            {#}{% include 'AppBundle::modal-delete.html.twig' with { 'form': delete_form } %}#}
            </div>
            </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row margin-top-20">
    <div class="col-lg-12">
        <h3 class="page-header">
            Listes des salles
        </h3>
</div>
<div class="col-md-4">
</div>
<div class="col-md-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Editer</th>
                </tr>
            </thead>
            <tbody>
                {% for classroom in classrooms %}
                <tr>
                    <td>{{classroom.name}}</td>
                    <td><a href="{{path('admin_classroom_edit', {'id' : classroom.id })}}">Editer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
