{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-6">
        <h1>
            Utilisateurs <br>
            <small>Créer un utilisateur</small>
        </h1>
    </div>
</div>

{{ form(form) }}

{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/app/css/select2.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/app/css/select2-bootstrap.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/select2.fr.js') }}"></script>
    <script type="text/javascript">
        $('#appbundle_user_roles').select2();
    </script>
{% endblock %}
