{% extends '::base.html.twig' %}

{% block title %}
Edition
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre %}Edition {% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Informations personnelles
            </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <div>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <label for="mail">
                {{form_label(form.email)}}
                </label>
                 {{ form_errors(form.email) }}
                 {{ form_widget(form.email, { 'id': 'mail',  'attr': { 'class' : 'form-control' } } ) }}
            </div>
            <div class="form-group">
                <label for="lastname">
                    {{form_label(form.lastname)}}
                </label>
                 {{ form_errors(form.lastname) }}
                 {{ form_widget(form.lastname, { 'id': 'lastname',  'attr': { 'class' : 'form-control' } } ) }}
            </div>
            <div class="form-group">
                <label for="firstname">
                    {{form_label(form.firstname)}}
                </label>
                 {{ form_errors(form.firstname) }}
                 {{ form_widget(form.firstname, { 'id': 'firstname',  'attr': { 'class' : 'form-control' } } ) }}
            </div>
            <div class="form-group">
                <label for="roles">
                    {{form_label(form.roles) }}
                </label>
                 {{ form_widget(form.roles, { 'attr': { 'class' : 'form-control' } } ) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save, {'label': 'button.update'|trans({}, 'messages') , 'attr': { 'class' : 'btn btn-success' } } ) }}
                {{ form_end(form) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save, {'label': 'button.update'|trans({}, 'messages') , 'attr': { 'class' : 'btn btn-success' } } ) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="col-md-5">
    </div>
</div>

{% endblock %}
