{% trans_default_domain 'FOSUserBundle' %}

<!-- <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form> -->

<body class="login-img3-body">

  <div class="container">

    <form class="login-form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }}  method="post">
      <div class="login-wrap">
          <p class="login-img"><i class="fa fa-lock"></i></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form_current_password" required="required" class="form-control" placeholder="{{ 'form.current_password'|trans }}">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="password" id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form_plainPassword_first" required="required" class="form-control" placeholder="{{ 'form.new_password'|trans }}">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="password" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form_plainPassword_second" required="required" class="form-control" placeholder="{{ 'form.new_password'|trans }}">
          </div>

          <input class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}" />

          <div class="form-group {% if form.plainPassword.first.vars.errors %}has-error{% endif %}">
  <label class="col-lg-2 control-label">Password:</label>
  <div class="col-lg-5">
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Enter password', 'required': 'required'}}) }}
    {% for errorItem in form.plainPassword.first.vars.errors %}
      <label class="control-label has-error" for="{{ form.plainPassword.vars.id }}">{{ errorItem.message }}</label>
    {% endfor %}
  </div>
  <div class="col-lg-5">
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Enter password again', 'required': 'required'}}) }}
  </div>
</div>
      </div>
    </form>

  </div>
