{% trans_default_domain 'FOSUserBundle' %}
<body class="login-img3-body">
    <div class="container">
        <form class="login-form fos_user_change_password" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
            <div class="login-wrap">
                <p class="login-img"><i class="fa fa-lock"></i></p>
                {{form_errors(form.current_password)}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    {{ form_widget(form.current_password, {'attr': { 'class' : 'form-control' , 'placeholder' :  'form.current_password'|trans }} ) }}
                </div>
                {{form_errors(form.plainPassword.first)}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{ form_widget(form.plainPassword.first, {'attr': { 'class' : 'form-control', 'placeholder' :  'form.new_password'|trans }} ) }}
                </div>
                {{form_errors(form.plainPassword.second)}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{ form_widget(form.plainPassword.second, {'attr': { 'class' : 'form-control', 'placeholder' :  'form.new_password_confirmation'|trans }} ) }}
                </div>
                <input class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
</div>
</body>
