{% extends 'visitor.html.twig' %}
{% block head %} {% endblock %}
{% block title %} {% endblock %}

{% block stylesheets %}
{% stylesheets '@AppBundle/Resources/public/css/dhtmlx/dhtmlxscheduler.css' %}
<link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
{% endstylesheets %}

{% stylesheets '@AppBundle/Resources/public/css/dhtmlx/dhtmlxscheduler.css' %}
<link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
{% endstylesheets %}

{% stylesheets '@AppBundle/Resources/public/css/style.css' %}
<link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
{% endstylesheets %}

<style type="text/css">
html, body{ height:100%; padding:0px; margin:0px; }
.well {
    text-align: right;
}
.container-fluid #scheduler_here {
    height: 700px;
    width: 100%;
    border: 1px solid #cecece;
    top : 50px;
}
#scheduler_here {
    border-radius: 4px;
}
</style>
{% endblock %}

{% block body %}
{% block breadcrumbs %}
{{ wo_render_breadcrumbs() }}
{% endblock %}
<div class="dhx_cal_container panel" id="scheduler_here">
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_minical_icon" id="dhx_minical_icon" onclick="show_minical()">&nbsp;</div>
        <div class="dhx_cal_tab" name="day_tab"></div>
        <div class="dhx_cal_tab" name="week_tab"></div>
        <div class="dhx_cal_tab" name="month_tab"></div>
        <div class="dhx_cal_tab" name="year_tab"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
</div>

{% endblock %}

{% block javascripts %}

{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler_year_view.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler_minical.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/locale_fr.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/locale_recurring_fr.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
scheduler.load("{{ asset('data/'~entity.getSlug) }}.xml")
scheduler.config.xml_date = "%Y-%m-%d %H:%i";
scheduler.config.readonly = true;

scheduler.data_attributes = function(){
    return [
        ["start_date", scheduler.templates.xml_format],
        ["end_date", scheduler.templates.xml_format],
        ["subject"],
        ["classroom"],
        ["notice"],
        ["id"],
    ];
};

scheduler.config.first_hour = 8;
scheduler.config.last_hour = 21;
scheduler.config.show_loading = true;
scheduler.config.time_step = 30;

var format=scheduler.date.date_to_str("%H:%i");

scheduler.init('scheduler_here',new Date(),"week");
scheduler.templates.event_text=function(start,end,event){  //permet d'afficher matiere salle infos dans la vue semaine
    return "Matière:<b> "+event.subject+"</b><br>"+"Salle: <b>"+event.classroom+"</b><br>"+"infos: <b>"+event.notice+"</b></br>";

}

scheduler.templates.event_bar_text = function(start,end,event){     //permet d'afficher la date de fin + matiere dans la vue month
      return format(end)+" "+event.subject;
};

scheduler.templates.year_tooltip = function(start,end,event){ //permet d'afficher la date de fin + matiere dans la vue année
    return format(end)+" "+event.subject;
};

function show_minical(){
    if (scheduler.isCalendarVisible()){
        scheduler.destroyCalendar();
    } else {
        scheduler.renderCalendar({
            position:"dhx_minical_icon",
            date:scheduler._date,
            navigation:true,
            handler:function(date,calendar){
                scheduler.setCurrentView(date);
                scheduler.destroyCalendar()
            }
        });
    }
}
</script>
{% endblock %}
