{% extends '::base.html.twig' %}

{% block title %}
Edition
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre %}Edition {% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Edition du planning <strong>{{entity.title}}</strong>
            </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
            <div class="form-group">
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <div class="form-group">
                <label for="name">
                 {{ form_label(edit_form.title) }}
                </label>
                {{ form_errors(edit_form.title) }}
                {{ form_widget(edit_form.title, { 'id': 'name',  'attr': { 'class' : 'form-control' } } ) }}
            </div>
            <div class="form-group">
                 {{ form_errors(edit_form.modele) }}
                 {{ form_widget(edit_form.modele, {'attr': { 'class' : 'hidden' } } ) }}
            </div>
            <div class="form-group">
                 {{ form_errors(edit_form.nbWeek) }}
                 {{ form_widget(edit_form.nbWeek, {'attr': { 'class' : 'hidden' } } ) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.save, {'label': 'Mettre à jour', 'attr': { 'class' : 'btn btn-success' } } ) }}
                {{ form_end(edit_form) }}
            </div>
            </div>
            <a class="btn btn-danger" data-toggle="modal" data-target="#modal-delete">Supprimer</a>
            {% set trans = 'text.message_alert_before_delete_calendar' %}
    {% include 'AppBundle::modal-delete.html.twig' with { 'form': delete_form } %}
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row margin-top-20">
        <div class="col-md-12 page-header">
            <div class="col-md-10">
                <h3 class="text-left">
                    Gestion des évènement du planning <strong>{{entity.title}}</strong>
                </h3>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success margin-top-20" id="addButton" href="{{path('admin_event_new')}}">{{ 'text.add_entity'|trans({}, 'messages') }}</a>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Matière</th>
                        <th>Salle</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{event.subject.name}}</td>
                        <td>{{event.classroom.name}}</td>
                        <td>{{event.startDate| localizeddate('long', 'short') }}</td>
                        <td>{{event.endDate| localizeddate('long', 'short') }}</td>
                        <td><a href="{{path('admin_event_edit', {'id' : event.id})}}">Editer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $('.table').DataTable( {
        "scrollX": false
} );
});
</script>
{% endblock %}
