{% extends '::base.html.twig' %}
{% block head %} {% endblock %}
{% block title %}
Liste des agendas
{{ parent() }}
{% endblock %}
{% block stylesheets %}
{% stylesheets '@AppBundle/Resources/public/dataTable/datatables.css' %}
<link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
{% endstylesheets %}
{% endblock %}

{% block titre %}Liste des agendas{% endblock %}

{% block body %}

    <div class="row">
		<div class="col-md-12 page-header">
            <div class="col-md-10">
    			<h1 class="text-left">
    				Liste des plannings
    			</h1>
            </div>
            <div class="col-md-2">
                <a class="btn btn-lg btn-success margin-top-20" href="{{path('admin_calendar_new')}}">{{ 'text.add_entity'|trans({}, 'messages') }}</a>
            </div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12">
            {% if calendars is defined %}
                    <div class="table-responsive">
                        <table id="calendarTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Libellé</th>
                                    <th>Slug</th>
                                    <th>Date création</th>
                                    <th>Date modification</th>
                                    <th class="nosort">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for calendar in calendars %}
                                <tr>
                                    <td>{{calendar.title}}</td>
                                    <td>{{calendar.slug}}</td>
                                    <td>{{calendar.createdAt| localizeddate('long', 'short') }}</td>
                                    <td>{{calendar.updatedAt|time_diff }}</td>
                                    <td>
                                        <a href="{{path('admin_calendar_show', {'slug' : calendar.slug })}}">Voir</a> |
                                        <a href="{{path('admin_calendar_edit', {'slug' : calendar.slug })}}">Editer</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            {% else %}
                <div class="alert alert-warning">
                    <h2>Il n'existe aucun planning.</h2>
                </div>
            {% endif %}

        </div>

    </div>


<!-- jQuery -->
{% block javascripts %}
{% javascripts '@AppBundle/Resources/public/dataTable/datatables.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %} <!--block js-->


<script type="text/javascript">
$(document).ready(function(){
    $('#calendarTable').DataTable({
        "aoColumnDefs": [
         { 'bSortable': false, 'aTargets': [ 4 ] }
      ]
    });

});
</script>
{% endblock %}
