{% extends '::base.html.twig' %}
{% block head %} {% endblock %}
{% block title %}
Création d'un nouveau calendrier
{{ parent() }}
{% endblock %}


{% block titre %} Création d'un nouveau calendrier {% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                1) Création d'un nouveau calendrier
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info">
                <h3>Pour créer un calendrier, veuillez saisir son intitulé.</h3> <br><h4>Nommer distinctement les calendriers (par exemple : <em>Master 2 - Groupe 2</em>) facilitera la gestion.</h4>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
                {{ form_start(form) }}
                {{ form_errors(form) }}
				<div class="form-group">
					<label for="name">
						Intitulé :
					</label>
                     {{ form_errors(form.title) }}
                     {{ form_widget(form.title, { 'id': 'name',  'attr': { 'class' : 'form-control' } } ) }}
				</div>
                    {{ form_widget(form.save, { 'attr': { 'class' : 'btn btn-success' } } ) }}
                    {{ form_end(form) }}
		</div>
		<div class="col-md-5">
		</div>
	</div>
</div>

{% endblock %}
