{% extends 'base.html.twig' %}
{% block head %} {% endblock %}
{% block title %}{{entity.title}} {% endblock %}

{% block stylesheets %}
{{ form_stylesheet(form) }}
{% stylesheets '@AppBundle/Resources/public/css/dhtmlx/dhtmlxscheduler.css' %}
<link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
{% endstylesheets %}
{% stylesheets '@AppBundle/Resources/public/css/dhtmlx/dhtmlxscheduler.css' %}
<link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
{% endstylesheets %}


<style type="text/css">
html, body{ height:100%; padding:0px; margin:0px; }
.well {
    text-align: right;
}
.container-fluid #scheduler_here {
    height: 700px;
    width: 100%;
    border: 1px solid #cecece;
    top : 50px;
}
#scheduler_here {
    border-radius: 4px;
}
</style>
{% endblock %}

{% block body %}
    <div class="dhx_cal_container panel" id="scheduler_here">

        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_minical_icon" id="dhx_minical_icon"
    onclick="show_minical()">&nbsp;</div>
            <div class="dhx_cal_tab" name="day_tab"></div>
            <div class="dhx_cal_tab" name="week_tab"></div>
            <div class="dhx_cal_tab" name="month_tab"></div>
            <div class="dhx_cal_tab" name="year_tab"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>
    </div>

    <div class="well">
        <div>
            <a class="logo" title="DHTMLX - JavaScript Web App Framework &amp; UI Widgets" href="http://dhtmlx.com/docs/products/dhtmlxScheduler/"></a>
        </div>
    </div>

<button style="visibility:hidden" type="button" id="new" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newEvent">Open Modal</button>
<button style="visibility:hidden" type="button" id="edit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editEvent">Open Modal</button>

<!-- Modal -->
<div id="newEvent" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nouvel évenement</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                            <div>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                <label for="start">
                                    {{ form_label(form.startDate) }}
                                </label>
                                {{ form_errors(form.startDate)}}
                                {{ form_widget(form.startDate, {'attr': { 'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group">
                                <label for="end">
                                    {{ form_label(form.endDate) }}
                                </label>
                                {{ form_errors(form.endDate) }}
                                {{ form_widget(form.endDate, { 'attr': { 'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group hidden">
                                <label for="calendar">
                                    {{ form_label(form.calendar) }}
                                </label>
                                {{ form_errors(form.calendar) }}
                                {{ form_widget(form.calendar, { 'attr': { 'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    {{ form_label(form.subject) }}
                                </label>
                                {{ form_errors(form.subject) }}
                                {{ form_widget(form.subject, {'attr': { 'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group">
                                <label for="classroom">
                                    {{ form_label(form.classroom) }}
                                </label>
                                {{ form_errors(form.classroom) }}
                                {{ form_widget(form.classroom, {'attr': { 'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group">
                                <label for="notice">
                                    {{ form_label(form.notice) }}
                                </label>
                                {{ form_errors(form.notice) }}
                                {{ form_widget(form.notice, { 'attr': { 'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.save, {'label': 'button.create', 'attr': { 'class' : 'btn btn-success' } } ) }}
                                {{ form_end(form) }}
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'button.close'|trans({}, 'forms') }}</button>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block javascripts %}
{{ form_javascript(form) }}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler_serialize.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler_quick_info.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler_minical.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<script type="text/javascript">
scheduler.load("/planning/data/{{entity.slug}}.xml");
scheduler.config.xml_date = "%Y-%m-%d %H:%i";

scheduler.data_attributes = function(){
    return [
        ["start_date", scheduler.templates.xml_format],
        ["end_date", scheduler.templates.xml_format],
        ["subject"],
        ["classroom"],
        ["notice"],
        ["id"],
    ];
};

scheduler.config.first_hour = 8;
scheduler.config.limit_time_select = true;
scheduler.config.show_loading = true;
scheduler.config.show_quick_info = false;
scheduler.config.time_step = 30;

var formatFunc = scheduler.date.date_to_str("%Y-%m-%d %H:%i:%s");
var formatFunc2 = scheduler.date.date_to_str("%d/%m/%Y %H:%i");

scheduler.init('scheduler_here',new Date(),"week"); //TODO: impossible de changer de jour avec les fleches
scheduler.templates.event_text=function(start,end,event){
    return "Matière:<b> "+event.subject+"</b><br>"+"Salle: <b>"+event.classroom+"</b><br>"+"infos: <b>"+event.notice+"</b></br>";

}

scheduler.showLightbox = function(id){
    var event = scheduler.getEvent(id);
    var start = formatFunc2(event.start_date);
    var end = formatFunc2(event.end_date)
    document.getElementById("new").click(start, end);
    document.getElementById("app_subject_startDate").value = start;
    document.getElementById("app_subject_endDate").value = end;

}


scheduler.attachEvent("onEventChanged", function (id){
    var event = scheduler.getEvent(id);
    var start_date = formatFunc(event.start_date);
    var end_date = formatFunc(event.end_date);
    var id = id;
    var edit = Routing.generate('admin_event_edit', {id : id});

    $.ajax({
            url: edit,
            type: "POST",
            data: { id : id, start_date : start_date, end_date : end_date},
            success: function(data) {
            },
            error: function(){
                alert('Erreur ajax');
            }
        });
});

scheduler.attachEvent("onDblClick", function(id, e){
    var event = scheduler.getEvent(id);
    window.location.href = Routing.generate('admin_event_edit', {id : id});
 });

 scheduler.attachEvent("onScaleDblClick", function (id, e){
    alert('dlbclick');
});

function show_minical(){
    if (scheduler.isCalendarVisible()){
        scheduler.destroyCalendar();
    } else {
        scheduler.renderCalendar({
            position:"dhx_minical_icon",
            date:scheduler._date,
            navigation:true,
            handler:function(date,calendar){
                scheduler.setCurrentView(date);
                scheduler.destroyCalendar()
            }
        });
    }
}

$(function () {
   $('#app_subject_startDate').datetimepicker({

  });
   $('#app_subject_endDate').datetimepicker({
   });
   $("#app_subject_startDate").on("dp.change", function (e) {
       $('#app_subject_endDate').data("DateTimePicker").minDate(e.date);
   });
   $("#app_subject_endDate").on("dp.change", function (e) {
       $('#app_subject_startDate').data("DateTimePicker").maxDate(e.date);
   });
});
</script>
{% endblock %}
