{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/app/css/selectize.bootstrap3.css')}}" rel="stylesheet">
{% endblock %}
{% block head %} {% endblock %}
{% block title %}
Edition d'une liste de diffusion
{{ parent() }}
{% endblock %}


{% block titre %} Edition d'une liste de diffusion {% endblock %}
{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Edition d'une liste de diffusion
            </h1>
        </div>
    </div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
                {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}
                <div class="form-group">
                    <label for="name">
                     {{ form_label(edit_form.name) }}
                    </label>
                     {{ form_errors(edit_form.name) }}
                     {{ form_widget(edit_form.name, {'attr': { 'class' : 'form-control' } } ) }}
                </div>
				<div class="form-group">
					<label for="email">
					 {{ form_label(edit_form.mails) }}
					</label>
                     {{ form_errors(edit_form.mails) }}
                     {{ form_widget(edit_form.mails, {'attr': { 'class' : 'form-control' } } ) }}
				</div>
                    {{ form_widget(edit_form.save, { 'label': 'Mettre à jour', 'attr': { 'class' : 'btn btn-success' } } ) }}
                    {{ form_end(edit_form) }}
		</div>
        <a class="btn btn-danger" data-toggle="modal" id="deleteButton" data-target="#modal-delete">Supprimer</a>
{% include 'AppBundle::modal-delete.html.twig' with { 'form': delete_form } %}
		<div class="col-md-5">
		</div>
	</div>

    {% block javascripts %}
        <script src="{{ asset('bundles/app/js/selectize.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/select.js') }}"></script>
    {% endblock %}

{% endblock %}
