{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/app/css/selectize.bootstrap3.css')}}" rel="stylesheet">
{% endblock %}
{% block head %} {% endblock %}
{% block title %}
Création d'une liste de diffusion
{{ parent() }}
{% endblock %}


{% block titre %} Création d'une liste de diffusion {% endblock %}
{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Création d'une liste de diffusion
            </h1>
        </div>
    </div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    <label for="name">
                     {{ form_label(form.name) }}
                    </label>
                     {{ form_errors(form.name) }}
                     {{ form_widget(form.name, {'attr': { 'class' : 'form-control', 'placeholder':'Ex : "M2 groupe 2" pour les adresses mail du groupe 2, ou bien "Master 2" pour les adresses mail des M2, tous groupes confondus' } } ) }}
                </div>
				<div class="form-group">
					<label for="email">
					 {{ form_label(form.mails) }}
					</label> (Séparer les adresses par un " ; " )
                     {{ form_errors(form.mails) }}
                     {{ form_widget(form.mails, {'attr': { 'class' : 'form-control', 'placeholder':'jean@domain.com;paul@domain.com' } } ) }}
				</div>
                    {{ form_widget(form.save, { 'attr': { 'class' : 'btn btn-success' } } ) }}
                    {{ form_end(form) }}
		</div>
		<div class="col-md-2">
		</div>
	</div>

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/selectize.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/select.js') }}"></script>
{% endblock %}

{% endblock %}
