{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}

{% block body %}

{% for flash_message in app.session.flashbag.get('notice') %}
<div class="flash-notice">
    <div class="alert alert-info">
        <h3>3) b) Saisissez le nom de la matière et les enseingant(e)s / intervenant(e)s impliqués.</h3><br>
        <h4>Pour créer sélectionner plusieurs entrées dans la liste, maintenez sur la touche <em>CTRL</em> de votre clavier enfoncée pendant le clic.</h4>
    </div>
</div>

{% endfor %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ajout d'une matière
            </h1>
        </div>
    </div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
                {{ form_start(form) }}
                {{ form_errors(form) }}
				<div class="form-group">
					<label for="name">
						{{ form_label(form.name) }}
					</label>
                     {{ form_errors(form.name) }}
                     {{ form_widget(form.name, { 'id': 'lastname',  'attr': { 'class' : 'form-control' } } ) }}
				</div>
                <div class="form-group">
                    <label for="teachers">
                        {{ form_label(form.teachers) }}
                    </label>
                     {{ form_errors(form.teachers) }}
                     {{ form_widget(form.teachers, { 'id': 'teachers',  'attr': { 'class' : 'form-control' } } ) }}
                </div>
                    {{ form_widget(form.save, { 'attr': { 'class' : 'btn btn-success' } } ) }}
                    {{ form_end(form) }}
		</div>
		<div class="col-md-5">
		</div>
	</div>
</div>
{% endblock %}
